n8n-workflows/audio-transcription-workflow.json
{
  "name": "Audio Transcription Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "transcribe-audio",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Extract data from webhook payload\nconst { audioUrl, issueId, language } = $input.item.json;\n\n// Format the data for processing\nreturn {\n  json: {\n    audioUrl,\n    issueId,\n    language: language || 'en-US',\n    timestamp: new Date().toISOString(),\n    source: 'transcription_webhook',\n    environment: process.env.NODE_ENV || 'development'\n  }\n};"
      },
      "name": "Format Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"audioUrl\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "name": "Has Audio?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"appUrl\"]}}/api/ai/transcribe-audio",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "audioUrl",
              "value": "={{$json[\"audioUrl\"]}}"
            },
            {
              "name": "issueId",
              "value": "={{$json[\"issueId\"]}}"
            },
            {
              "name": "language",
              "value": "={{$json[\"language\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"appUrl\"]}}/api/ai/analyze-sentiment",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json[\"transcription\"][\"text\"]}}"
            },
            {
              "name": "issueId",
              "value": "={{$json[\"issueId\"]}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{$json[\"appUrl\"]}}/api/notifications/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "issueId",
              "value": "={{$json[\"issueId\"]}}"
            },
            {
              "name": "type",
              "value": "audio_transcribed"
            },
            {
              "name": "title",
              "value": "Audio Transcription Complete"
            },
            {
              "name": "message",
              "value": "Your audio has been transcribed and analyzed."
            },
            {
              "name": "data",
              "value": "={ \"issueId\": $json[\"issueId\"], \"transcription\": $json[\"transcription\"][\"text\"] }"
            }
          ]
        },
        "options": {}
      },
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1250,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Audio transcribed successfully\", \"issueId\": $json[\"issueId\"], \"transcription\": $json[\"transcription\"][\"text\"] }",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1450,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "// Add app URL for API calls\n$input.item.json.appUrl = process.env.APP_URL || 'http://localhost:3000';\n\nreturn $input;"
      },
      "name": "Set Environment",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        450,
        500
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": false, \"message\": \"No audio URL provided\" }",
        "options": {}
      },
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Set Environment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Audio?": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Analyze Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Sentiment": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Environment": {
      "main": [
        [
          {
            "node": "Has Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1",
  "id": "3",
  "meta": {
    "instanceId": "1"
  },
  "tags": []
}
